<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
>

  <variable name="myvar" value="myvalue"/>

  <targets>
    <target xsi:type="File" name="logfile" encoding="utf-8"
                fileName="${basedir}/Log/${date:format=yyyy}/${date:format=MM}/${shortdate}.log" />
    <target xsi:type="Mail" name="infoMail"
            smtpServer="smtp.qq.com"
            smtpPort="25"
            smtpAuthentication="Basic"
            smtpUserName="2027763692"
            smtpPassword="gbokdnnshqsyedaj"
            enableSsl="true"
            addNewLines="true"
            from="2027763692@qq.com"
            to="729533020@qq.com"
            subject="Error"
            header="=======Start========"
            body="${newline}${message}${newline}"
            footer="=======End=========" />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile" />
    <logger name="*" minlevel="Info" writeTo="infoMail" />
  </rules>
</nlog>
